.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1;
}

.clickable {
  cursor: pointer;
  font-size: large;
  text-align: center;
  width: 100%;
}
