.rotatingImage {
  transform: scale(1);
  border-radius: 5%;
  transition: transform 2s, border-radius 2s;
}

.rotatingImage:hover {
  transform: rotate(-5deg) scale(1.2);
  border-radius: 10%;
}

.imageContainer {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.zoom {
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.5);
}

.imageContainerDetails {
  width: 600px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.zoomDetails {
  transition: transform 3s;
}

.zoomDetails:hover {
  transform: rotate(-5deg) scale(0.8);
}

.avatarSection {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.feedbackText {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.cardContainer {
  display: flex;
  border-left: 5px solid red;
  min-height: 200px;
  box-shadow: 0 4px 6px rgba(101, 39, 39, 0.1);
  margin-bottom: 10%;
}

.avatarSection {
  margin-right: 1rem;
  padding-right: 1rem;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid #2ac1e7;
}

.avatarBackground {
  padding: 10px;
  border-right: 4px solid rgb(20, 244, 240);
  border-radius: 0 25% 25% 0;
}

.contentSection {
  flex: 1;
  padding-left: 1rem;
}

.userName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.redColor {
  background-color: red;
}
